@import "fonts.css";

/*
 * Magenta #ec008c
 * Light Gray #eee
 * Translucent Black rgba(0, 0, 0, 0.5)
 */

/* Global Styles */
body {
  margin: 0;
  font-family: 'Galaxie', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mod {
  width: 100%;
}

.mod__inner {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 968px;
}

h1, h2 {
  font-family: 'HUGEAvantGardeBold';
  line-height: 1.1;
}

p {
  font-size: 24px;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Navigation */
header {
  background: #ec008c;
  height: 72px;
  position: relative;
  z-index: 10;
}

.page-wrapper__inner {
  position: relative;
  background: white;
}

.huge-logo {
  background: url('/images/HUGE-white.png') no-repeat center center;
  background-size: 100%;
  width: 60px;
  height: 24px;
  text-indent: -9999px;
  margin: 0 48px 0 24px;
  padding: 24px 0;
  float: left;
}

.main-nav > ul {
  float: left;
  font-family: 'HUGEAvantGardeBold';
}

.main-nav > ul > li {
 float: left;
 position: relative;
}

.main-nav > ul > li > a {
  display: block;
  padding: 28px 24px 23px;
  font-size: 21px;
  text-decoration: none;
  color: white;
}

.main-nav > ul > li > a:hover, .sub-nav.open > a {
  background-color: white;
  color: #ec008c;
  height: 100%;
}

.sub-nav:before {
  content: '';
  background: url('/images/chevron.png') no-repeat center center;
  background-size: 100%;
  width: 20px;
  height: 12px;
  position: absolute;
  right: 14px;
  top: 24px;
  margin-top: -6px;
  display: none;
}

.sub-nav.open:before {
  -webkit-transform: rotate(180deg);
}

.sub-nav ul {
  position: absolute;
  line-height: 42px;
  background: white;
  width: 225px;
  padding: 12px 0;
  display: none;
}

.sub-nav.open ul {
  display: block;
}

.sub-nav ul li a {
  display: block;
  font-family: 'Galaxie';
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 3px 24px;

}

.sub-nav ul li a:hover {
  color: #ec008c;
  background: #eee;
}

.copyright {
  background: white;
  font-family: 'Helvetica Nueue' sans-serif;
  font-size: 12px;
  padding: 17px 24px;
  display: none;
}

/* Mobile Nav */
.mobile-header {
  background: #ec008c;
  height: 60px;
  position: relative;
  z-index: 8;
  display: none;
}

.nav-toggle {
  background: url(/images/toggle-open.svg) center center;
  width: 24px;
  height: 20px;
  float: left;
  margin: 20px 24px;
  cursor: pointer;
  display: none;
}

.nav-toggle.active {
  background: url(/images/toggle-close.svg) center center;
}

/* Hero */
.main-hero {
  position: relative;
}

.main-hero__img {
  background: url('/images/background-image.jpg') center center;
  height: 640px;
  background-size: cover;
}

.main-hero__title {
  display: table;
  position: absolute;
  width: 100%;
  height: 640px;
  top: 0;
  left: 0;
}

.main-hero__title__inner {
  display: table-cell;
  vertical-align: middle;
}

.main-hero__title h2 {
  margin: 0 auto;
  padding: 0 24px;
  color: white;
  font-size: 120px;
  text-align: center;
  max-width: 810px;
}

/* Body Content */
.main-content {
  padding: 30px 0;
}

.nav-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: none;
}

.nav-overlay.active {
  display: block;
}

/* Tweak points between mobile + desktop */
@media (max-width: 1024px) and (min-width : 769px){
  .huge-logo {
    width: 50px;
    margin-right: 24px;
  }

  .main-nav > ul > li > a {
    font-size: 16px;
    padding: 30px 16px 26px;
  }

  .sub-nav:last-child ul{
    width: 180px;
  }

  .sub-nav ul li a {
    font-size: 15px;
  }

  .main-hero__title {
    height: 440px;
  }

  .main-hero__title h2 {
    font-size: 80px;
    max-width: 550px;
  }

  .main-hero__img {
    height: 440px;
  }

  p {
    font-size: 18px;
  }
}

/* Mobile Styling */
@media (max-width: 768px) {
  .desktop-header {
    position: absolute;
    width: calc(100% - 72px);
    height: auto;
    -webkit-transform: translate3d(-100%,0,0);
    transition: transform .3s ease;
  }

  .mobile-header {
    display: block;
  }

  .nav-toggle {
    display: block;
  }

  .nav-open .desktop-header {
    -webkit-transform: translate3d(0,0,0);
  }

  .nav-open .page-wrapper {
    overflow: hidden;
    height: 100%;
  }

  .nav-open .page-wrapper__inner {
    -webkit-transform: translate3d(calc(100% - 72px),0,0);
  }

  .nav-open .nav-overlay {
    display: block;
  }

  .page-wrapper__inner {
    -webkit-transform: translate3d(0,0,0);
    transition: transform .3s ease;
    z-index: 11;
  }

  .huge-logo {
    float: none;
    padding: 18px 0;
    width: 50px;
  }

  .main-nav > ul {
    float: none;
    background: white;
    line-height: 48px;
    padding: 12px 0 183px;
  }

  .main-nav > ul > li {
    float: none;
  }

  .main-nav > ul > li > a {
    color: black;
    padding: 0 24px;
  }

  .main-nav > ul > li > a:hover {
    background: #eee;
  }

  .sub-nav:before {
    display: block;
  }

  .sub-nav ul {
    position: relative;
    width: 100%;
  }

  .copyright {
    display: block;
  }
  
  .main-hero__img {
    height: 240px;
  }

  .main-hero__title {
    display: block;
    position: relative;
    height: auto;
  }

  .main-hero__title__inner {
    display: block;
  }

  .main-hero h2 {
    color: black;
    text-align: left;
    font-size: 40px;
    padding-top: 48px;
  }

  .main-content {
    padding-top: 20px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }
}